<!DOCTYPE html>
<html lang="en" ng-app="bmTestApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bootstrap-moment.css">
</head>
<body>
    <div class="container" ng-controller="TestCtrl">
        <div class="alert alert-info">Test</div>

        <div class="panel panel-default">
            <div class="panel-heading">Options</div>
            <div class="panel-body">
                <div class="form-group">
                    <select class="form-control" ng-model="Options.Placement">
                        <option value="left">left</option>
                        <option value="right">right</option>
                        <option value="bottom">bottom</option>
                        <option value="top">top</option>
                        <option value="auto">auto</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="checkbox" ng-model="Options.Required"> Required
                </div>
                <div class="form-group">
                    <input type="checkbox" ng-model="Options.RunCustomValidation"> Custom Validation
                </div>
                <div class="form-group">
                    <input type="checkbox" ng-model="Options.InitWithDate"> Init With Date
                </div>
            </div>
        </div>

        <div ng-if="!Rendering">
            <bootstrap-moment ng-if="!Options.RunCustomValidation" current-date="Data.CurrentDate" placement="Options.Placement" required="Options.Required" on-change="DateChanged(newDate)" is-valid="Data.DateIsValid" init="Options.InitWithDate"></bootstrap-moment>
            <bootstrap-moment ng-if="Options.RunCustomValidation" current-date="Data.CurrentDate" placement="Options.Placement" required="Options.Required" on-change="DateChanged(newDate)" is-valid="Data.DateIsValid" init="Options.InitWithDate" validate="ValidateDate(date)"></bootstrap-moment>
        </div>
        <br/>
        <p class="alert alert-info">
            CurrentDate: {{Data.CurrentDate ? Data.CurrentDate.format() : ''}}
            <br/>
            DateIsValid: {{Data.DateIsValid}}
        </p>
        <p class="alert alert-warning" ng-if="Message">{{Message}}</p>
    </div>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="../bower_components/moment-timezone/moment-timezone.js"></script>
    <script src="../bootstrap-moment.js"></script>
    <script src="app.js"></script>
</body>
</html>
